<!DOCTYPE html>
<html lang="es">
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/grupo16/proyecto/iniciarSesion.css">
</head>
<body>

<div class="login-container">
    <div class="login-form">
        <h1>Iniciar sesión</h1>
        <p>¿Es tu primera vez? <a href="#" class="signup-link">Regístrate</a></p>
        
        <form id="loginForm">
            <div class="input-group">
                <label for="correoElectronico">Correo*</label>
                <input type="correoElectronico" id="correoElectronico" required>
            </div>

            <div class="input-group">
                <label for="contraseña">Contraseña*</label>
                <input type="contraseña" id="contraseña" required>
            </div>

            <div class="forgot-password">
                <a href="#">¿Olvidaste la contraseña?</a>
            </div>
            
            <button type="submit" class="login-button">Iniciar sesión</button>
        </form>
    </div>
</div>

<!-- AQUI DEBE IR EL JS-->
</body>
</html>
