<!DOCTYPE html>
<html lang="es">
<head>
<title>Arrienda Tu Finca</title>
<link rel="stylesheet" href="/grupo16/css/paginaPrincipal.css"> 
</head>
<body>
  <header>
    <nav id = "barra" class="barra">
      <ul>
        <li><a href="#" id="login">Iniciar sesión</a></li>
        <li><a href="#" id="signup">Registrarse</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="presentacion">
      <h1>Arrienda Tu Finca</h1>
      <p>Encuentra el lugar perfecto para descansar y desconectar o dale la oportunidad a otros de disfrutar y obten beneficios de ello</p>
    </section>
    <div class = "boton_centrado">
    <button type="button" class="boton">Quiero hacer parte</button>
    </div>
  </main>

<script src="/grupo16/js/paginaPrincipal.js"></script>
</body>
</html>
